// -------------------------------------------
// VARIABLES
// ---------------------------------------

//Colours 
//----------------------------------------

	$turq: #04756f;
	$mustard: #FF8C00;
	$orange: #ff2d00;
	$pink: #d90000;
	$purple: #2e0927;

// //Font weights


	$light: 400;
	$slabHeavy: 700;
	$robotoUltraLight: 300;
	$robotoMedium: 500;
	$robotoHeavy: 900;

// //Typography 
// //__________

	$slab: 'Roboto Slab', serif;
	$roboto: 'Roboto', sans-serif;
	

//Global

		